footer {
  background-color: #1d1c1e;
  margin-top: 38rem;
  height: 40rem;
  position: relative;
  z-index: 1;
}

.lets-talk {
  background-color: #e7816b;
  display: flex;
  align-items: center;
  column-gap: 31rem;
  border-radius: 1.5rem;
  padding: 7.2rem 9.6rem 4.6rem 9.5rem;
  position: absolute;
  top: -20rem;
  z-index: 3;
}

.lets-talk-info {
  max-width: 46rem;
}

.lets-talk h3 {
  width: 26.8rem;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 500;
  color: #ffffff;
}

.lets-talk p {
  width: 46rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #ffffff;
  margin-top: 2rem;
}

.footer-main {
  width: 40rem;
  position: absolute;
  top: 13rem;
  z-index: 2;
}

.footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 55rem;
}

.footer-menu img {
  width: 20rem;
}

.footer-menu ul {
  display: flex;
  align-items: center;
  column-gap: 4.2rem;
  text-transform: uppercase;
}

.footer-menu ul li a {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #ffffff;
  letter-spacing: 2px;
  &:hover {
    color: #e7816b;
  }
}

.address-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7.2rem;
  column-gap: 19.7rem;
  margin-top: 7.2rem;
  margin-bottom: 7.2rem;
}

.address {
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.address > ul li a {
  width: 35rem;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  opacity: 50%;
  &:hover {
    color: #e7816b;
  }
}

.media-box {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}
